/** @format */

.img {
  width: 500px;
  margin-bottom: 60px;
  margin-right: 30px;
  margin-left: 20px;
  height: 550px;
  object-fit: fill;

  position: relative;
  right: 30px;
}
.info-container {
  display: flex;
  padding: 20px 10px;
  margin: 20px 0px;
  justify-content: space-between;
  background-color: rgb(240, 239, 239);
}
@media only screen and (max-width: 800px) {
  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
